
<script>



function addRow() {
  var textareaData = document.getElementById('configData').value;
  var ports = textareaData.split('\n');

  // Очищаем предыдущее содержимое графического представления
  var container = document.getElementById('configDataContainer');
  container.innerHTML = '';


  var hr2 = document.createElement('hr2');
  hr2.innerHTML = '<hr>';
  container.appendChild(hr2);

  var div = document.createElement('div');
  div.style.height = "20px"
  div.style.width = "1100px"
  //div.style.border = "solid 1px red"
  container.appendChild(div);
  
  var div2 = document.createElement('div2');
  div2.style.height = "20px"
  div2.style.width = "200px"
  div2.style.border = "solid 1px red"
  div2.style.float = "right";
  div.appendChild(div2);
   

// Radio  all
//=============================================================

    var AllgiPortTypt1 = document.createElement('input');
    AllgiPortTypt1.id = 'AllgiPortTypt1-' + "0";
    AllgiPortTypt1.type = 'radio';
    AllgiPortTypt1.value = 1;
	AllgiPortTypt1.name = "AllmyRadio-" + "1";
	//AllgiPortTypt1.style.right.right;
    div2.appendChild(AllgiPortTypt1);
	

    var AllgiPortTyptLabel = document.createElement('label');
    AllgiPortTyptLabel.setAttribute('for', 'AllgiPortTyptLabel-' + "0");
    AllgiPortTyptLabel.id = 'radio';
    AllgiPortTyptLabel.textContent = '1G';
	//AllgiPortTyptLabel.style.right.right;
    div2.appendChild(AllgiPortTyptLabel);


    var AllgiPortTypt10 = document.createElement('input');
    AllgiPortTypt10.id = 'AllgiPortTypt10-' + "1";
    AllgiPortTypt10.type = 'radio';
    AllgiPortTypt10.value = 2;
	AllgiPortTypt10.checked = true;
	AllgiPortTypt10.name = "AllmyRadio-" + "1";
    div2.appendChild(AllgiPortTypt10);
	
    var AllgiPortTyptLabel = document.createElement('label');
    AllgiPortTyptLabel.setAttribute('for', 'AllgiPortTyptLabel-' + "1");
    AllgiPortTyptLabel.id = 'radio';
    AllgiPortTyptLabel.textContent = '10G';
    div2.appendChild(AllgiPortTyptLabel);
  
	var AllgiPortTypt40 = document.createElement('input');
    AllgiPortTypt40.id = 'AllgiPortTypt40-' + "3";
    AllgiPortTypt40.type = 'radio';
    AllgiPortTypt40.value = 4;
	AllgiPortTypt40.name = "AllmyRadio-" + "1";
    div2.appendChild(AllgiPortTypt40);
	
    var AllgiPortTyptLabel = document.createElement('label');
    AllgiPortTyptLabel.setAttribute('for', 'AllgiPortTyptLabel-' + "3");
    AllgiPortTyptLabel.id = 'radio';
    AllgiPortTyptLabel.textContent = '40G';
    div2.appendChild(AllgiPortTyptLabel);
	
	var AllgiPortTypt100 = document.createElement('input');
    AllgiPortTypt100.id = 'AllgiPortTypt100-' + "2";
    AllgiPortTypt100.type = 'radio';
    AllgiPortTypt100.value = 3;
	AllgiPortTypt100.name = "AllmyRadio-" + "1";
    div2.appendChild(AllgiPortTypt100);
	
    var AllgiPortTyptLabel = document.createElement('label');
    AllgiPortTyptLabel.setAttribute('for', 'AllgiPortTyptLabel-' + "2");
    AllgiPortTyptLabel.id = 'radio';
    AllgiPortTyptLabel.textContent = '100G';
    div2.appendChild(AllgiPortTyptLabel);



//==============================================================
  
   for (var i = 0; i < ports.length; i++) {
    var portData = parsePortData(ports[i]);
    displayConfigData(portData, i);
  }
  
  var hr1 = document.createElement('hr1');
  hr1.innerHTML = '<hr>';
  container.appendChild(hr1);
  
    AllgiPortTypt1.addEventListener('input', function() {
    UpdateCheckBox(CheckConfig());
  });
    AllgiPortTypt10.addEventListener('input', function() {
    UpdateCheckBox(CheckConfig());
  });
    AllgiPortTypt40.addEventListener('input', function() {
    UpdateCheckBox(CheckConfig());
  });
    AllgiPortTypt100.addEventListener('input', function() {
    UpdateCheckBox(CheckConfig());
  });
}


function displayConfigData(portData, index) {
  //console.log( portData )
  if (portData.port == undefined)
  {
	return;
  }
  var type = portData.type;
  var port = portData.port;
  var desc = portData.desc;
  var vlanId = portData.vlan;

  // Очищаем предыдущее содержимое графического представления
  var container = document.getElementById('configDataContainer');
  //container.innerHTML = '';

  var pre1 = document.createElement('pre1');
  pre1.innerHTML = '<pre>';
  container.appendChild(pre1);

  // Поле для выбора типа порта
  var typeLabel = document.createElement('label');
  typeLabel.setAttribute('for', 'type-' + index);
  typeLabel.textContent = 'Port Type:';
  container.appendChild(typeLabel);

  var typeSelect = document.createElement('select');
  typeSelect.id = 'type-' + index;
  typeSelect.name = 'type-' + index;

  var accessOption = document.createElement('option');
  accessOption.value = 'access';
  accessOption.textContent = 'access';
  typeSelect.appendChild(accessOption);

  var trunkOption = document.createElement('option');
  trunkOption.value = 'trunk';
  trunkOption.textContent = 'trunk';
  typeSelect.appendChild(trunkOption);

  // var beOption = document.createElement('option');
  // beOption.value = 'be';
  // beOption.textContent = 'be';
  // typeSelect.appendChild(beOption);

  typeSelect.value = type;
  container.appendChild(typeSelect);

  // Поле для ввода номера порта
  var portLabel = document.createElement('label');
  portLabel.setAttribute('for', 'port-' + index);
  portLabel.textContent = ' Port:';
  container.appendChild(portLabel);

  var portInput = document.createElement('input');
  portInput.id = 'port-' + index;
  portInput.type = 'text';
  portInput.value = port;
  portInput.size = "4";
  container.appendChild(portInput);

  // Поле для ввода описания
  var descLabel = document.createElement('label');
  descLabel.setAttribute('for', 'desc-' + index);
  descLabel.textContent = ' Description:';
  container.appendChild(descLabel);

  var descInput = document.createElement('input');
  descInput.id = 'desc-' + index;
  descInput.type = 'text';
  descInput.value = desc;

  container.appendChild(descInput);

  // Поле для ввода VLAN ID
  var vlanLabel = document.createElement('label');
  vlanLabel.setAttribute('for', 'vlan_id-' + index);
  vlanLabel.textContent = ' VLAN ID:';
  container.appendChild(vlanLabel);

  var comma = ',';
  vlanId = splitString(vlanId, comma);

  var vlanInput = document.createElement('input');
  vlanInput.id = 'vlan_id-' + index;
  vlanInput.type = 'text';
  vlanInput.value = vlanId.join(' ');
  vlanInput.size = "10";
  container.appendChild(vlanInput);




    var beLabel = document.createElement('label');
    beLabel.setAttribute('for', 'lbe_id-' + index);
    beLabel.id = 'lbe_id-' + index;
    beLabel.textContent = ' BE ID:';
    container.appendChild(beLabel);
    
    var beInput = document.createElement('input');
    beInput.id = 'be_id-' + index;
    beInput.type = 'number';
    beInput.value = 0;
	beInput.size = "12";
    container.appendChild(beInput);

// Radio 
//=============================================================

    var giPortTypt1 = document.createElement('input');
    giPortTypt1.id = 'giPortTypt1-' + index;
    giPortTypt1.type = 'radio';
    giPortTypt1.value = 1;

	giPortTypt1.name = "myRadio-" + index;
    container.appendChild(giPortTypt1);
	

    var giPortTyptLabel = document.createElement('label');
    giPortTyptLabel.setAttribute('for', 'giPortTyptLabel-' + index);
    giPortTyptLabel.id = 'radio';
    giPortTyptLabel.textContent = '1G';
    container.appendChild(giPortTyptLabel);


    var giPortTypt10 = document.createElement('input');
    giPortTypt10.id = 'giPortTypt10-' + index;
    giPortTypt10.type = 'radio';
    giPortTypt10.value = 2;

	giPortTypt10.checked = true;
	giPortTypt10.name = "myRadio-" + index;
    container.appendChild(giPortTypt10);
	
    var giPortTyptLabel = document.createElement('label');
    giPortTyptLabel.setAttribute('for', 'giPortTyptLabel-' + index);
    giPortTyptLabel.id = 'radio';
    giPortTyptLabel.textContent = '10G';
    container.appendChild(giPortTyptLabel);
  
	var giPortTypt40 = document.createElement('input');
    giPortTypt40.id = 'giPortTypt40-' + index;
    giPortTypt40.type = 'radio';
    giPortTypt40.value = 4;
	giPortTypt40.name = "myRadio-" + index;
    container.appendChild(giPortTypt40);
	
    var giPortTyptLabel = document.createElement('label');
    giPortTyptLabel.setAttribute('for', 'giPortTyptLabel-' + index);
    giPortTyptLabel.id = 'radio';
    giPortTyptLabel.textContent = '40G';
    container.appendChild(giPortTyptLabel);

	
	var giPortTypt100 = document.createElement('input');
    giPortTypt100.id = 'giPortTypt100-' + index;
    giPortTypt100.type = 'radio';
    giPortTypt100.value = 3;
	giPortTypt100.name = "myRadio-" + index;
    container.appendChild(giPortTypt100);
	
    var giPortTyptLabel = document.createElement('label');
    giPortTyptLabel.setAttribute('for', 'giPortTyptLabel-' + index);
    giPortTyptLabel.id = 'radio';
    giPortTyptLabel.textContent = '100G';
    container.appendChild(giPortTyptLabel);



//==============================================================

    var checkboxInput = document.createElement('input');
    checkboxInput.id = 'checkboxInput_id-' + index;
    checkboxInput.type = 'checkbox';
    //checkboxInput.value = 0;
	//checkboxInput.size = "12";
    container.appendChild(checkboxInput);
	
    var checkboxLabel = document.createElement('label');
    checkboxLabel.setAttribute('for', 'checkboxLabel_id-' + index);
    checkboxLabel.id = 'checkboxLabel_id-' + index;
    checkboxLabel.textContent = 'E';
    container.appendChild(checkboxLabel);
    


  var pre2 = document.createElement('pre2');
  pre2.innerHTML = '</pre>';
  container.appendChild(pre2);
  
  // Слушатели событий изменения полей
  typeSelect.addEventListener('change', function() {
    updateConfigData();
  });
  portInput.addEventListener('input', function() {
    updateConfigData();
  });
  descInput.addEventListener('input', function() {
    updateConfigData();
  });
  vlanInput.addEventListener('input', function() {
    updateConfigData();
  });
    beInput.addEventListener('input', function() {
    updateConfigData();
  });
    checkboxInput.addEventListener('input', function() {
    updateConfigData();
  });
    giPortTypt1.addEventListener('input', function() {
    updateConfigData();
  });
    giPortTypt10.addEventListener('input', function() {
    updateConfigData();
  });
    giPortTypt40.addEventListener('input', function() {
    updateConfigData();
  });
    giPortTypt100.addEventListener('input', function() {
    updateConfigData();
  });

}


function UpdateCheckBox(arr)
{
	var i = 0;
	while(i < arr.length)   
{
	
	if (document.getElementById('AllgiPortTypt1-0').checked)
	{
		document.getElementById('giPortTypt1-'+i).checked = true;
	}
	else
	{
		document.getElementById('giPortTypt1-'+i).checked = false;
	}
	
	if (document.getElementById('AllgiPortTypt10-1').checked)
	{
		document.getElementById('giPortTypt10-'+i).checked = true;
	}
	else
	{
		document.getElementById('giPortTypt10-'+i).checked = false;
	}
	
	if (document.getElementById('AllgiPortTypt40-3').checked)
	{
		document.getElementById('giPortTypt40-'+i).checked = true;
	}
	else
	{
		document.getElementById('giPortTypt40-'+i).checked = false;
	}
	
	
	if (document.getElementById('AllgiPortTypt100-2').checked)
	{
		document.getElementById('giPortTypt100-'+i).checked = true;
	}
	else
	{
		document.getElementById('giPortTypt100-'+i).checked = false;
	}
	
	i = i + 1;

}	
	updateConfigData();
}



function parseHTML() {
  var container = document.getElementById('configDataContainer');
  var elements = container.getElementsByTagName('*');

  var parsedData = [];

  for (var i = 0; i < elements.length; i++) {
    var element = elements[i];
    var id = element.id;

    if (id) {
      var idParts = id.split('-');
      var index = parseInt(idParts[1]);

      if (!isNaN(index)) {
        parsedData[index] = parsedData[index] || {};
        var type = element.tagName.toLowerCase();

        if (type === 'input' || type === 'select') {
          parsedData[index][idParts[0]] = element.value;
        }
      }
    }
  }

  return parsedData;
}



function updateConfigData() 
{


  
  generateConfig(CheckConfig());
	

  
}


function parsePortData2(portStr) {
	//console.log(portStr)
  var data = {};
  var attributes = portStr.split(' ');

  for (var i = 0; i < attributes.length; i++) {
    var keyValue = attributes[i].split(':');
    var key = keyValue[0];
    var value = keyValue[1];

    data[key] = value;
  }
  console.log(data)
  return data;
}

function parsePortData(portStr)
{
	const regex = /port:(.*)desc:(.*)vlan:(.*)type:(.*)/gm;
	let result = portStr.matchAll(regex);
	//console.log(result);
	
	m = Array.from(result); 
	
	//var data = [];

	
    try
    {
		data = {port: m[0][1], desc: m[0][2], vlan: m[0][3], type :m[0][4]};
	}
	catch (err)
	{
		
	}
	console.log(data);
	return data;

}


function CheckConfig() 
{

  arr = [];

  try
  {
	  
  var inx = parseHTML();
  var i = 0
  while (i < inx.length)
  {
	  //console.log(inx[i])
	  //console.log(inx[i])
  
  //console.log(inx,portData.type, portData.port, portData.desc, portData.vlan );
  var type = document.getElementById('type-'+i).value;
  var port = document.getElementById('port-'+i).value;
  var desc = document.getElementById('desc-'+i).value;
  var vlan = document.getElementById('vlan_id-'+i).value;
  var beElemId = document.getElementById('be_id-'+i).value;
  var GiTypePort1 = document.getElementById('giPortTypt1-'+i).checked
  var GiTypePort10 = document.getElementById('giPortTypt10-'+i).checked
  var GiTypePort40 = document.getElementById('giPortTypt40-'+i).checked
  var GiTypePort100 = document.getElementById('giPortTypt100-'+i).checked
  
	if (GiTypePort1 == true)
	{
		var GiTypePort = "GigabitEthernet";
		
	}
	else if (GiTypePort10 == true)
	{
		var GiTypePort = "XGigabitEthernet";
		
	}
		else if (GiTypePort40 == true)
	{
		var GiTypePort = "40GE";
		
	}
	else if (GiTypePort100 == true)
	{
		var GiTypePort = "100GE";
		
	}
	
	
    arr.push([i, type, port, desc, vlan, beElemId, GiTypePort])

    i = i + 1
	}
  
  }
  catch (err)
  {

  }
  
  
  //console.log(arr);
  return arr
}



	
function generateConfig(arr) 
{

var type = "";
var port = "";
var desc = "";
var vlanId = "";
var ElemId = "";
var port_gig_type = "";
var beId = "";
var beType = "";
var config3 = '';
var config2 = '';
var config_vlan = '';
var i = 0;
var y = 0;
var z = 0;
var x = 0;
var vlan_arr = [];


var hr3 = document.createElement('hr3');
hr3.innerHTML = '<hr>';

var hr4 = document.createElement('hr4');
hr4.innerHTML = '<hr>';

var container2 = document.getElementById('configDataContainer2');
container2.innerHTML = '';

var container3 = document.getElementById('configDataContainer3');
container3.innerHTML = '';

var container4 = document.getElementById('configDataContainer4');
container4.innerHTML = '';

var container5 = document.getElementById('configDataContainer5');
container5.innerHTML = '';

while(i < arr.length)   
{
	
    var type = arr[i][1];
    var port = arr[i][2];
    var desc = arr[i][3];
    var vlanId = arr[i][4];
    var beElemId = arr[i][0];
    var port_gig_type = arr[i][6];
    var beId = arr[i][5];
    var config = '';
    var config2 = '';
	
	//stp edged-port disable
	var edg = document.getElementById('checkboxInput_id-'+i);
	
	if (edg.checked == true)
	{
		edg = "stp edged-port disable";
	}
	else
	{
		edg = "";		
	}
		


var eth_tk_trunk =` 
<pre id="eth-trunk-${beId}">
interface Eth-Trunk${beId}
 description ${desc}
 port link-type trunk
 undo port trunk allow-pass vlan 1
 port trunk allow-pass vlan ${vlanId}
 loopback-detect enable
 loopback-detect action trap
 mode lacp
 ${edg}
</pre>`;

var eth_tk_access =` 
<pre id="eth-trunk-${beId}">
interface Eth-Trunk${beId}
 description ${desc}
 port link-type access
 port default vlan ${vlanId}
 loopback-detect enable
 loopback-detect action trap
 stp disable
 mode lacp
 ${edg}
</pre>`;



	
	//console.log(beId)
	
	if (beId > 0)
	{
		beType = type;

	if (document.getElementById('eth-trunk-'+beId))
	{
		document.getElementById('type-'+beElemId).disabled = true;
		i = i + 1;
		continue
	}

	if (!document.getElementById('eth-trunk-'+beId))
	{
		document.getElementById('type-'+beElemId).disabled = false;
		//i = i + 1;
		//continue
	}
	
	if (beType === 'access' && beId > 0) 
	{
		config2 += eth_tk_access;
	
	}
		
	else if (beType === 'trunk' && beId > 0) 
	{
		config2 += eth_tk_trunk;
		
	}
	
	    
	
	}
	
	var eth_tr_config2 = document.createElement('eth_tr_config2');
	eth_tr_config2.innerHTML = config2;
	container2.appendChild(eth_tr_config2);
 
	i = i + 1;
}

container2.appendChild(hr3);

while(y < arr.length)   
{
	
    var type = arr[y][1];
    var port = arr[y][2];
    var desc = arr[y][3];
    var vlanId = arr[y][4];
    var beElemId = arr[y][0];
    var port_gig_type = arr[y][6];
    var beId = arr[y][5];
    var config = '';
    var config2 = '';
	var diag = '';
	var diag2 = '';
	var diag3 = '';
	
	//stp edged-port disable
	var edg = document.getElementById('checkboxInput_id-'+y);
	
	if (edg.checked == true)
	{
		edg = "stp edged-port disable";
	}
	else
	{
		edg = "";		
	}
	
var eth_tk_port =`
<pre id="eth-trunk-${ElemId}">
interface ${port_gig_type}${port}
 description ${desc}
 undo loopback-detect enable
 storm-control broadcast min-rate 2000 max-rate 3000
 storm-control multicast min-rate 2000 max-rate 3000
 eth-trunk ${beId}
</pre>`;

var port_trunk  =` 
<pre id="port-trunk-${ElemId}">
interface ${port_gig_type}${port}
 description ${desc}
 port link-type trunk
 port default vlan ${vlanId}
 loopback-detect enable
 storm-control broadcast min-rate 2000 max-rate 3000
 storm-control multicast min-rate 2000 max-rate 3000 
 ${edg}
</pre>`;

var port_access =` 
<pre id="port-access-${ElemId}">
interface ${port_gig_type}${port}
 description ${desc}
 port link-type access
 port default vlan ${vlanId}
 loopback-detect enable
 storm-control broadcast min-rate 2000 max-rate 3000
 storm-control multicast min-rate 2000 max-rate 3000
 ${edg}
</pre>`;
	
	//console.log(type,beId,port_gig_type)

	if (type === 'access' && beId == 0) 
		{
		document.getElementById('type-'+beElemId).disabled = false;
		config3 += port_access;
		} 
	
	else if (type === 'trunk' && beId == 0) 
		{
		document.getElementById('type-'+beElemId).disabled = false;
		config3 += port_trunk;
		}
	else if (beId > 0) 
		{
		config3 += eth_tk_port;
		} 
		

		
	//console.log(y)
	
    y = y + 1;
}

	var port_config = document.createElement('port_config');
    port_config.innerHTML = config3;
    container3.appendChild(port_config);

if(document.getElementById("diag").checked == true)
{
	
container4.appendChild(hr4);

while(z < arr.length)   
{
	
    var type = arr[z][1];
    var port = arr[z][2];
    var desc = arr[z][3];
    var vlanId = arr[z][4];
    var beElemId = arr[z][0];
    var port_gig_type = arr[z][6];
    var beId = arr[z][5];

	
	var txt = "<div>dis transceiver diag interface "+port_gig_type+port+"</div>";
	var txt2 = "<div>dis interface "+port_gig_type+port+" | i rate</div>";
	var txt3 = "<div>dis interface "+port_gig_type+port+" | i CRC</div>";
	
	diag += txt;
	diag2 += txt2;
	diag3 += txt3;
	
	
	//console.log(diag)
	
	z = z + 1;
	
}
	var diag_config = document.createElement('diag_config');
    diag_config.innerHTML = diag;
    container4.appendChild(diag_config);
	
	var diag_config2 = document.createElement('diag_config2');
    diag_config2.innerHTML = diag2;
    container4.appendChild(diag_config2);

	var diag_config3 = document.createElement('diag_config3');
    diag_config3.innerHTML = diag3;
    container4.appendChild(diag_config3);	
}

//VLAN
//=========================================================================
while(x < arr.length)   
{
	
    var vlanId = arr[x][4];

	//console.log(vlanId);

    var comma = ' ';

    vlanId = splitString(vlanId, comma);
	
	for (let i = 0; i < vlanId.length; i++) 
	{
       vlan_arr.push(vlanId[i]);
	}
	
	
	
	x = x + 1;
}

//console.log(vlan_arr);
//console.log(makeUniq(vlan_arr));

vlanId = makeUniq(vlan_arr);

for (let i = 0; i < vlanId.length; i++) 
{
    config_vlan += "<div>vlan "+vlanId[i]+"</div>"+"<div>#</div>";
}

var vlan = document.createElement('vlan');
vlan.innerHTML = config_vlan;
container5.appendChild(vlan);

//============================================================================

}

//vlan parser
function splitString(stringToSplit, separator) {
  var arrayOfStrings = stringToSplit.split(separator);

  //console.log('Оригинальная строка: "' + stringToSplit + '"');
  //console.log('Разделитель: "' + separator + '"');
  //console.log('Массив содержит ' + arrayOfStrings.length + ' элементов: ' + arrayOfStrings);
  return arrayOfStrings
}

const makeUniq = (arr) => {
  const uniqSet = new Set(arr);
  return [...uniqSet];
}

</script>


<style>
   body{
    background-color: #9a9c9f; /* Цвет фона веб-страницы */
   }

#options_bar
{
	/* border: solid 1px red; */
	height: 100%;
	width: 100%
}
#options_bar2
{

	/* border: solid 1px red; */
	height: 160px;
	width: 100%
}
#options_bar3
{
	float: left;
	/* border: solid 1px red; */
	height: 160px;
    margin-top: 8
}
#options_bar4
{
	float: left;
	/* border: solid 1px red; */
	width: 100%

    
}

#gen
{
	float: left;
	/* border: solid 1px red; */
}
</style>

<div id="options_bar">
<div id="options_bar3">
<textarea id="configData" rows="10" cols="50">
port:1/1/1 desc:test1 vlan:333  type:trunk
port:1/1/2 desc:test2 vlan:333  type:access
port:1/1/3 desc:test3 vlan:3533 type:access
port:1/1/4 desc:test4 vlan:3333 type:trunk
port:1/1/5 desc:test5 vlan:333  type:trunk
port:1/1/6 desc:test6 vlan:333,447  type:access
port:1/1/7 desc:test7 vlan:3533,888,555 type:access
</textarea>
</div>



<div id="options_bar2">
<fieldset>
    <legend>Options:</legend>

    <div>
      <input type="checkbox" id="diag" name="diag" >
      <label for="diag">diagnostic information</label>
    </div>

<!--    <div>
      <input type="checkbox" id="horns" name="horns" checked>
      <label for="horns">test</label>
    </div> -->
</fieldset>
</div>

<div id="options_bar4">
<button id="gen" onclick="addRow()">[+]</button>
</div>

<br>



<div id="configDataContainer"></div>
<div id="configDataContainer2"></div>
<div id="configDataContainer3"></div>

<div id="configDataContainer5"></div>
<div id="configDataContainer4"></div>
<div id="output"></div>

</div>